.shareBtns {
  position: relative;

  .share-button-bg {
    text-align: center;
    line-height: 1.1;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    color: #777;
    letter-spacing: 2px;
    border-radius: 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    &:hover {
      background: #f3f3f3;
    }
    svg {
      width: 20px;
      height: 20px;
      margin-right: 7px;
    }
    &.special {
      margin: 0 0 0 20px !important;
      padding: 0 !important;
      border: none !important;
      &:hover {
        background: none;
        color: black !important;
      }
    }
  }
}

.share-dialog {
  display: none;
  &.is-open {
    display: block;
    z-index: 2;
  }

  button {
    border: none;
    background: transparent;
    padding: 0;
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .targets {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 0px;

    @media (max-width: 480px) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #eee;
  }

  .resp-sharing-button__link,
  .resp-sharing-button__icon {
    display: inline-block;
  }

  .resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
  }

  .resp-sharing-button {
    text-align: left;
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    line-height: 17px;
  }

  .resp-sharing-button--twitter {
    background-color: #55acee;
    &:hover, &:active {
      background-color: #2795e9;
    } 
  }

  .resp-sharing-button--facebook {
    background-color: #3b5998;
    &:hover, &:active {
      background-color: #2d4373;
    } 
  }

  .resp-sharing-button--reddit {
    background-color: #5f99cf;
    &:hover, &:active {
      background-color: #3a80c1;
    } 
  }

  .resp-sharing-button--linkedin {
    background-color: #0077b5;
    &:hover, &:active {
      background-color: #046293;
    } 
  }

  .resp-sharing-button--email {
    background-color: #777;
    &:hover, &:active {
      background-color: #5e5e5e;
    } 
  }

  .resp-sharing-button--link {
    background-color: #e18667;
    &:hover, &:active {
      background-color: #df6f49;
    } 
  }

  .resp-sharing-button--whatsapp {
    background-color: #25d366;
    &:hover, &:active {
      background-color: #1da851;
    } 
  }

  .resp-sharing-button--telegram {
    background-color: #54a9eb;
    &:hover, &:active {
    background-color: #4b97d1;
    }
  }
}
