.hookCard {
  padding: 15px 22px;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
  margin-top: 25px;

  @media (max-width: 768px) {
    padding: 15px;
  }

  &.isCreating {
    width: 70%;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  .hookContent {
    &--header {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      h6 {
        span:not(.channel) {
          text-decoration: underline;
        }

        .channel {
          margin-left: 5px;
        }
      }

      .hookAction {
        display: flex;
        align-items: center;
        color: lightgrey !important;
        button {
          color: lightgrey !important;
        }

        svg:hover {
          color: grey;
          cursor: pointer;
        }
      }
    }

    &--triggers {
      margin-bottom: 5px;

      span {
        &:nth-child(1) {
          text-decoration: underline;

          &:after {
            content: '';
            margin-right: 0px;
          }
        }

        &:nth-child(2) {
          margin-left: 3px;
        }

        &:after {
          content: ',';
          margin-right: 4px;
        }

        &:last-of-type:after {
          content: '';
        }
      }
    }
  }
}
