@import '~/pages/custom.scss';

.userSettings {
  padding-top: 30px;

  .titleInfo {
    font-weight: 600;
  }

  div[class*='userSettings'] {
    margin-bottom: 20px;
  }
  // hide userSettingsChangePwd header
  .form-header {
    display: none;
  }
  .form-content {
    button[type='submit'] {
      margin: 25px 0 0;
      padding: 10px;
    }
    input {
      height: 40px;
      border: 1px solid $lightgray;
      @media (min-width: 480px) {
        width: 400px;
      }
    }
  }
  .changePwdBtn,
  .deleteActBtn,
  .dlInfosBtn {
    margin: 0 0 20px;
    width: fit-content;
    font-weight: 500;
  }
  .d-flex {
    flex-flow: column;
  }
  .collapse {
    margin-bottom: 30px;
    .btn {
      font-weight: 400;
    }
  }
  .dlHiddenLink {
    visibility: hidden;
  }
}
